extends layout

block content
  //p(="!{data.name[0]}")
  //each item in data.name
  //  span !{item}
  //!{data.name[0]}
  //XSS - eftersom data.name inte är escapad
  //script window.__PRELOADED_STATE__ = #{data.name[0]}
  //script #{data.name[0]}

  //p !{root}
  p !{data}